<launch>
    <group ns="robot_0">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node0" output="screen">
            <param name="app_name" type="string" value="app3"/>
            <param name="app_type" type="string" value="app3/App3"/>
        </node>
    </group>
    <group ns="robot_1">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node1" output="screen">
            <param name="app_name" type="string" value="app3"/>
            <param name="app_type" type="string" value="app3/App3"/>
        </node>
    </group>
    <group ns="robot_2">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node2" output="screen">
            <param name="app_name" type="string" value="app3"/>
            <param name="app_type" type="string" value="app3/App3"/>
        </node>
    </group>
    <group ns="robot_3">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node3" output="screen">
            <param name="app_name" type="string" value="app3"/>
            <param name="app_type" type="string" value="app3/App3"/>
        </node>
    </group>
    <group ns="robot_4">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node4" output="screen">
            <param name="app_name" type="string" value="app3"/>
            <param name="app_type" type="string" value="app3/App3"/>
        </node>
    </group>
    
    <group ns="robot_5">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node5" output="screen">
            <param name="app_name" type="string" value="app3"/>
            <param name="app_type" type="string" value="app3/App3"/>
        </node>
    </group>
    <group ns="robot_6">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node6" output="screen">
            <param name="app_name" type="string" value="app3"/>
            <param name="app_type" type="string" value="app3/App3"/>
        </node>
    </group>
    <group ns="robot_7">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node7" output="screen">
            <param name="app_name" type="string" value="app3"/>
            <param name="app_type" type="string" value="app3/App3"/>
        </node>
    </group>
    <group ns="robot_8">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node8" output="screen">
            <param name="app_name" type="string" value="app3"/>
            <param name="app_type" type="string" value="app3/App3"/>
        </node>
    </group>
    <group ns="robot_9">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node9" output="screen">
            <param name="app_name" type="string" value="app3"/>
            <param name="app_type" type="string" value="app3/App3"/>
        </node>
    </group>
    
    <group ns="robot_10">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node10" output="screen">
            <param name="app_name" type="string" value="app3"/>
            <param name="app_type" type="string" value="app3/App3"/>
        </node>
    </group>
    <group ns="robot_11">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node11" output="screen">
            <param name="app_name" type="string" value="app3"/>
            <param name="app_type" type="string" value="app3/App3"/>
        </node>
    </group>
    <group ns="robot_12">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node12" output="screen">
            <param name="app_name" type="string" value="app3"/>
            <param name="app_type" type="string" value="app3/App3"/>
        </node>
    </group>
    <group ns="robot_13">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node13" output="screen">
            <param name="app_name" type="string" value="app3"/>
            <param name="app_type" type="string" value="app3/App3"/>
        </node>
    </group>
    <group ns="robot_14">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node14" output="screen">
            <param name="app_name" type="string" value="app3"/>
            <param name="app_type" type="string" value="app3/App3"/>
        </node>
    </group>
    
    <group ns="robot_15">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node15" output="screen">
            <param name="app_name" type="string" value="app3"/>
            <param name="app_type" type="string" value="app3/App3"/>
        </node>
    </group>
    <group ns="robot_16">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node16" output="screen">
            <param name="app_name" type="string" value="app3"/>
            <param name="app_type" type="string" value="app3/App3"/>
        </node>
    </group>
    <group ns="robot_17">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node17" output="screen">
            <param name="app_name" type="string" value="app3"/>
            <param name="app_type" type="string" value="app3/App3"/>
        </node>
    </group>
    <group ns="robot_18">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node18" output="screen">
            <param name="app_name" type="string" value="app3"/>
            <param name="app_type" type="string" value="app3/App3"/>
        </node>
    </group>
    <group ns="robot_19">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node19" output="screen">
            <param name="app_name" type="string" value="app3"/>
            <param name="app_type" type="string" value="app3/App3"/>
        </node>
    </group>
</launch>

