<launch>
    <group ns="robot_0">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node0" output="screen">
            <param name="app_name" type="string" value="app1"/>
            <param name="app_type" type="string" value="app1/App1"/>
        </node>
    </group>
    <group ns="robot_0">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node1" output="screen">
            <param name="app_name" type="string" value="app2"/>
            <param name="app_type" type="string" value="app1/App1"/>
        </node>
    </group>
    <group ns="robot_0">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node2" output="screen">
            <param name="app_name" type="string" value="app3"/>
            <param name="app_type" type="string" value="app1/App1"/>
        </node>
    </group>
    <group ns="robot_0">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node3" output="screen">
            <param name="app_name" type="string" value="app4"/>
            <param name="app_type" type="string" value="app2/App2"/>
        </node>
    </group>
    <group ns="robot_0">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node4" output="screen">
            <param name="app_name" type="string" value="app5"/>
            <param name="app_type" type="string" value="app2/App2"/>
        </node>
    </group>
    
    <group ns="robot_1">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node5" output="screen">
            <param name="app_name" type="string" value="app6"/>
            <param name="app_type" type="string" value="app2/App2"/>
        </node>
    </group>
    <group ns="robot_1">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node6" output="screen">
            <param name="app_name" type="string" value="app7"/>
            <param name="app_type" type="string" value="app2/App2"/>
        </node>
    </group>
    <group ns="robot_1">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node7" output="screen">
            <param name="app_name" type="string" value="app8"/>
            <param name="app_type" type="string" value="app2/App2"/>
        </node>
    </group>
    <group ns="robot_1">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node8" output="screen">
            <param name="app_name" type="string" value="app9"/>
            <param name="app_type" type="string" value="app1/App1"/>
        </node>
    </group>
    <group ns="robot_1">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node9" output="screen">
            <param name="app_name" type="string" value="app10"/>
            <param name="app_type" type="string" value="app1/App1"/>
        </node>
    </group>
    
    <group ns="robot_2">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node10" output="screen">
            <param name="app_name" type="string" value="app11"/>
            <param name="app_type" type="string" value="app1/App1"/>
        </node>
    </group>
    <group ns="robot_2">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node11" output="screen">
            <param name="app_name" type="string" value="app12"/>
            <param name="app_type" type="string" value="app1/App1"/>
        </node>
    </group>
    <group ns="robot_2">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node12" output="screen">
            <param name="app_name" type="string" value="app13"/>
            <param name="app_type" type="string" value="app1/App1"/>
        </node>
    </group>
    <group ns="robot_2">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node13" output="screen">
            <param name="app_name" type="string" value="app14"/>
            <param name="app_type" type="string" value="app2/App2"/>
        </node>
    </group>
    <group ns="robot_2">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node14" output="screen">
            <param name="app_name" type="string" value="app15"/>
            <param name="app_type" type="string" value="app2/App2"/>
        </node>
    </group>
    
    <group ns="robot_3">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node15" output="screen">
            <param name="app_name" type="string" value="app16"/>
            <param name="app_type" type="string" value="app1/App1"/>
        </node>
    </group>
    <group ns="robot_3">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node16" output="screen">
            <param name="app_name" type="string" value="app17"/>
            <param name="app_type" type="string" value="app1/App1"/>
        </node>
    </group>
    <group ns="robot_3">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node17" output="screen">
            <param name="app_name" type="string" value="app18"/>
            <param name="app_type" type="string" value="app2/App2"/>
        </node>
    </group>
    <group ns="robot_3">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node18" output="screen">
            <param name="app_name" type="string" value="testvstig1"/>
            <param name="app_type" type="string" value="testvstig/TestVstig"/>
        </node>
    </group>
    <group ns="robot_3">
        <node pkg="app_loader" type="app_loader_node" name="app_loader_node19" output="screen">
            <param name="app_name" type="string" value="testvstig2"/>
            <param name="app_type" type="string" value="testvstig/TestVstig"/>
        </node>
    </group>
</launch>

