<launch>
    <group ns="robot_0">
        <node pkg="micros_swarm_framework" type="micros_swarm_framework_app_loader" name="micros_swarm_framework_app_loader0" output="screen">
            <param name="app_name" type="string" value="test_bb"/>
            <param name="app_type" type="string" value="micros_swarm_framework/TestBb"/>
        </node>
    </group>
    <group ns="robot_1">
        <node pkg="micros_swarm_framework" type="micros_swarm_framework_app_loader" name="micros_swarm_framework_app_loader1" output="screen">
            <param name="app_name" type="string" value="test_bb"/>
            <param name="app_type" type="string" value="micros_swarm_framework/TestBb"/>
        </node>
    </group>
    <group ns="robot_2">
        <node pkg="micros_swarm_framework" type="micros_swarm_framework_app_loader" name="micros_swarm_framework_app_loader2" output="screen">
            <param name="app_name" type="string" value="test_bb"/>
            <param name="app_type" type="string" value="micros_swarm_framework/TestBb"/>
        </node>
    </group>
    <group ns="robot_3">
        <node pkg="micros_swarm_framework" type="micros_swarm_framework_app_loader" name="micros_swarm_framework_app_loader3" output="screen">
            <param name="app_name" type="string" value="test_bb"/>
            <param name="app_type" type="string" value="micros_swarm_framework/TestBb"/>
        </node>
    </group>
    <group ns="robot_4">
        <node pkg="micros_swarm_framework" type="micros_swarm_framework_app_loader" name="micros_swarm_framework_app_loader4" output="screen">
            <param name="app_name" type="string" value="test_bb"/>
            <param name="app_type" type="string" value="micros_swarm_framework/TestBb"/>
        </node>
    </group>
    
    <group ns="robot_5">
        <node pkg="micros_swarm_framework" type="micros_swarm_framework_app_loader" name="micros_swarm_framework_app_loader5" output="screen">
            <param name="app_name" type="string" value="test_bb"/>
            <param name="app_type" type="string" value="micros_swarm_framework/TestBb"/>
        </node>
    </group>
    <group ns="robot_6">
        <node pkg="micros_swarm_framework" type="micros_swarm_framework_app_loader" name="micros_swarm_framework_app_loader6" output="screen">
            <param name="app_name" type="string" value="test_bb"/>
            <param name="app_type" type="string" value="micros_swarm_framework/TestBb"/>
        </node>
    </group>
    <group ns="robot_7">
        <node pkg="micros_swarm_framework" type="micros_swarm_framework_app_loader" name="micros_swarm_framework_app_loader7" output="screen">
            <param name="app_name" type="string" value="test_bb"/>
            <param name="app_type" type="string" value="micros_swarm_framework/TestBb"/>
        </node>
    </group>
    <group ns="robot_8">
        <node pkg="micros_swarm_framework" type="micros_swarm_framework_app_loader" name="micros_swarm_framework_app_loader8" output="screen">
            <param name="app_name" type="string" value="test_bb"/>
            <param name="app_type" type="string" value="micros_swarm_framework/TestBb"/>
        </node>
    </group>
    <group ns="robot_9">
        <node pkg="micros_swarm_framework" type="micros_swarm_framework_app_loader" name="micros_swarm_framework_app_loader9" output="screen">
            <param name="app_name" type="string" value="test_bb"/>
            <param name="app_type" type="string" value="micros_swarm_framework/TestBb"/>
        </node>
    </group>
    
    <group ns="robot_10">
        <node pkg="micros_swarm_framework" type="micros_swarm_framework_app_loader" name="micros_swarm_framework_app_loader10" output="screen">
            <param name="app_name" type="string" value="test_bb"/>
            <param name="app_type" type="string" value="micros_swarm_framework/TestBb"/>
        </node>
    </group>
    <group ns="robot_11">
        <node pkg="micros_swarm_framework" type="micros_swarm_framework_app_loader" name="micros_swarm_framework_app_loader11" output="screen">
            <param name="app_name" type="string" value="test_bb"/>
            <param name="app_type" type="string" value="micros_swarm_framework/TestBb"/>
        </node>
    </group>
    <group ns="robot_12">
        <node pkg="micros_swarm_framework" type="micros_swarm_framework_app_loader" name="micros_swarm_framework_app_loader12" output="screen">
            <param name="app_name" type="string" value="test_bb"/>
            <param name="app_type" type="string" value="micros_swarm_framework/TestBb"/>
        </node>
    </group>
    <group ns="robot_13">
        <node pkg="micros_swarm_framework" type="micros_swarm_framework_app_loader" name="micros_swarm_framework_app_loader13" output="screen">
            <param name="app_name" type="string" value="test_bb"/>
            <param name="app_type" type="string" value="micros_swarm_framework/TestBb"/>
        </node>
    </group>
    <group ns="robot_14">
        <node pkg="micros_swarm_framework" type="micros_swarm_framework_app_loader" name="micros_swarm_framework_app_loader14" output="screen">
            <param name="app_name" type="string" value="test_bb"/>
            <param name="app_type" type="string" value="micros_swarm_framework/TestBb"/>
        </node>
    </group>
    
    <group ns="robot_15">
        <node pkg="micros_swarm_framework" type="micros_swarm_framework_app_loader" name="micros_swarm_framework_app_loader15" output="screen">
            <param name="app_name" type="string" value="test_bb"/>
            <param name="app_type" type="string" value="micros_swarm_framework/TestBb"/>
        </node>
    </group>
    <group ns="robot_16">
        <node pkg="micros_swarm_framework" type="micros_swarm_framework_app_loader" name="micros_swarm_framework_app_loader16" output="screen">
            <param name="app_name" type="string" value="test_bb"/>
            <param name="app_type" type="string" value="micros_swarm_framework/TestBb"/>
        </node>
    </group>
    <group ns="robot_17">
        <node pkg="micros_swarm_framework" type="micros_swarm_framework_app_loader" name="micros_swarm_framework_app_loader17" output="screen">
            <param name="app_name" type="string" value="test_bb"/>
            <param name="app_type" type="string" value="micros_swarm_framework/TestBb"/>
        </node>
    </group>
    <group ns="robot_18">
        <node pkg="micros_swarm_framework" type="micros_swarm_framework_app_loader" name="micros_swarm_framework_app_loader18" output="screen">
            <param name="app_name" type="string" value="test_bb"/>
            <param name="app_type" type="string" value="micros_swarm_framework/TestBb"/>
        </node>
    </group>
    <group ns="robot_19">
        <node pkg="micros_swarm_framework" type="micros_swarm_framework_app_loader" name="micros_swarm_framework_app_loader19" output="screen">
            <param name="app_name" type="string" value="test_bb"/>
            <param name="app_type" type="string" value="micros_swarm_framework/TestBb"/>
        </node>
    </group>
</launch>

